.delete-checkbox {
    float: left;
    margin-left: 3rem;
}

.product-container {
    border: 1px solid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
}

hr {
    border: 1px solid;
}